.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.fighters-gris {
  background-color: #ccc;
  border: #858585;
  border-radius: 5px;
  min-width: 45%;
  min-height: 500px;
}